<!DOCTYPE html>
<html>
  <head>
    <title>StarWarsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= link_to root_path do %>
      <%= image_tag "star-wars.png", alt: "Star Wars", class:"mt-3 ml-3 star-wars-avatar-square"%>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
